@model Galactus.Models.TimeControle

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tempo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tempo)
            </dd>
        </dl>
    </div>

</body>
</html>