@model IEnumerable<Galactus.Models.Planeta>

@{
    ViewData["Title"] = "Universo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Universo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Asteroides Iniciados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @item.SomaAstIniciados().ToString()
            </td>
        </tr>
}
    </tbody>
</table>
