<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
        <img class="img-fluid" src="~/images/logo.jpg" />
        <div class="container">
            <p><font size="1">Game status: </font></p><br />
            <p><font color="red">(INSERIR VARIAVEL DOS TICKS)</font> segundos após o último tick.</p><br />
            <p>(INSERIR DADOS DE QUANT. CONTAS) contas registradas<br /></p>
            <p>(INSERIR DADOS DE USUARIOS ONLINE) usuarios online<br /></p>
        </div>


</body>
</html>





